.button{
    -fx-focus-color: transparent;
    -fx-background-color: black /*rgba(31, 28, 192, 0.98)*/;
    -fx-background-insets: -1, 0, 1, 1;

    -fx-background-color:#090a0c,
            linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));
    -fx-background-radius: 5.0,4.0,3.0,5.0;
    -fx-background-insets: 0.0,1.0,2.0,0.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-font-family: "Arial";
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-font-weight: bold;

    -fx-padding:15px 20px;
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-border-width: 2px;
    -fx-padding:1em 2em 0.9em 2em;

}

.button:hover {
    -fx-border-color: derive(white, -20%);
}

.menu-bar{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: white;

}

#bgPane{

    -fx-background-color: linear-gradient(to left bottom, rgba(72, 51, 90, 0.85), rgba(59, 105, 65, 0.74));

}

#p2Score{
    -fx-background-image: transparent;
}


.split-pane-divider {
    -fx-background-color: transparent ;
}

.winning-square {
    -fx-text-fill: #076d18;
    -fx-background-color: radial-gradient( radius 100%, ghostwhite, powderblue, #8cb3b8);
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box{
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label{
 -fx-background-color: transparent;
}